.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: grey;
}
.link {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.25s;
  text-decoration: none;
  margin-right: 10px;
}
.activeLink {
  color: tomato;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.25s;
  text-decoration: none;

  margin-right: 10px;
}
